.medicine-card_main {
  background-color: var(--clr-grey-1);
  border: solid var(--size-0);
  border-radius: var(--size-2);
  border-color: var(--clr-border);
  padding: var(--size-1) var(--size-2);
  text-align: left;
  box-shadow: var(--clr-border) 0px var(--size-1) var(--size-2) var(--size-1);
}

.medicine-card__info {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.medicine-card__amount {
  margin-right: var(--size-2);
}
