.planning-page {
  &__top-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  &__top-nav-option {
    flex: 1 1 100%;
    text-align: center;
    cursor: pointer;

    &_active {
      color: var(--clr-brand-7);
      border-bottom: var(--size-00) solid var(--clr-brand-7);
    }
  }

  &__top-nav-button {
    inline-size: 100%;
    block-size: 100%;
    padding-bottom: var(--size-2);
    outline: none;
  }

  &__page-container {
    padding-top: var(--size-3);
  }
}
