.something-bad-page {
  &__img-container {
    padding: var(--size-3) 0px;
  }

  &__img {
    inline-size: min(50vb, 50vi);
    margin: auto;
  }

  &__info {
    text-align: left;
    block-size: fit-content;
    max-block-size: 80vb;
    margin-bottom: var(--size-3);
    overflow-block: auto;
  }

  &__info-header {
    text-align: center;
    margin: var(--size-2) auto;
  }

  &__reason {
    text-align: center;
    color: var(--clr-secondary);
  }
}
