.navtabbar-layout {
  box-sizing: border-box;
  block-size: 100dvb;
  inline-size: 100dvi;

  display: grid;
  grid-template-rows: auto 1fr auto;

  &__navbar {
    inline-size: 100%;
  }

  &__page {
    padding: var(--size-3);
    overflow-y: auto;
    background-color: var(--clr-background);
  }

  &__tabbar {
    inline-size: 100%;
    min-block-size: fit-content;
  }
}

@media (min-width: 50em) {
  .navtabbar-layout {
    max-inline-size: var(--max-screen-size);
    margin: 0px auto;
  }
}
