/** A module with defined layout and margins variables */

/* A common sizes for paddings and margins */
:root {
  --size-00: 0.125rem;
  --size-0: 0.25rem;
  --size-1: 0.5rem;
  --size-2: 0.75rem;
  --size-3: 1.25rem;
  --size-4: 2rem;
  --size-5: 3rem;
  --size-6: 5rem;
  --size-7: 8rem;
  --size-8: 13rem;
  --size-9: 21rem;
  --size-10: 34.5rem;
  --size-11: 56rem;
  --size-12: 90rem;
}

/* Grid definition */
:root {
  --col-num: 24;
  --col-width: var(--size-3);
  --max-screen-size: var(--size-12);
  --gutter-width: calc(
    (var(--max-screen-size) - (var(--col-num) * var(--col-width))) / (var(--col-num) - 1)
  );
}

/* Layout sizes */
:root {
  --size-top-nav-1: 4rem;
  --size-top-nav-2: 3rem;
}

:root {
  --size-breakpoint-desktop: 50em;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
