.icon {
  &_active {
    fill: var(--clr-brand-7);
  }

  &_inactive {
    fill: var(--clr-disable);
  }

  &_danger {
    fill: var(--clr-danger-7);
  }

  &_secondary {
    fill: var(--clr-secondary);
  }
}
