.input-field {
  display: flex;
  flex-direction: row;
  padding-inline: var(--size-2);
  padding-block: var(--size-1);

  &_border {
    border: var(--size-00) solid;
    border-radius: var(--size-0);
  }

  &_brand {
    border-color: var(--clr-brand-5);
  }

  &_error {
    border-color: var(--clr-danger-5);
  }

  &_success {
    border-color: var(--clr-success-5);
  }

  &__input {
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__after-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  &__state-icon {
    inline-size: var(--size-3);
    block-size: var(--size-3);
  }
}
