.input-field {
  display: flex;
  flex-direction: row;
  position: relative;

  &_border {
    border: var(--size-00) solid;
    border-radius: var(--size-0);
  }

  &_brand {
    border-color: var(--clr-brand-5);
  }

  &_error {
    border-color: var(--clr-danger-5);
  }

  &_success {
    border-color: var(--clr-success-5);
  }

  &__input {
    border: none;
    flex: 1 1 auto;
    min-inline-size: 0;

    padding-inline: var(--size-2);
    padding-block: var(--size-1);

    &:focus {
      outline: none;
    }
  }

  &__after-elements {
    position: sticky;
    padding-inline: var(--size-2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--size-1);
    flex: 0 0 fit-content;
  }

  &__state-icon {
    inline-size: var(--size-3);
    block-size: var(--size-3);
  }
}
