/** A module with defined layout and margins variables */

/* A common sizes for paddings and margins */
:root {
  --size-1: 0.2857rem;
  --size-2: 1.1429rem;
  --size-3: 1.7143rem;
  --size-4: 2.8571rem;
  --size-5: 4.5714rem;
  --size-6: 7.4285rem;
  --size-7: 12.0000rem;
  --size-8: 19.4286rem;
  --size-9: 31.4286rem;
  --size-10: 51.4286rem;
  --size-11: 82.2857rem;
  --size-12: 137.1429rem;
}

/* Grid definition */
:root {
  --col-num: 24;
  --col-width: var(--size-4);
  --gutter-width: var(--size-3);
  --max-screen-size: calc(var(--col-num) * var(--col-width) + var(--gutter-width) * (var(--col-num) - 1));
}

/* Layout sizes */
:root {
  --size-top-nav-1: 4.5714rem;
  --size-top-nav-2: 3.4286rem;
}
