.folder {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  &_standard {
    border-radius: var(--size-1);
    background-color: var(--clr-background);
    padding: var(--size-2);
  }

  &__header {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 1fr auto;
    font-weight: var(--fw-semi-bold);
  }

  &__open-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  &__icon {
    inline-size: var(--size-3);
    min-inline-size: 0;

    &_opened {
      transform: rotateZ(0.5turn);
    }
  }
}
